* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
section h2,
section h3,
form button {
    font-family: 'Iceberg', sans-serif;
}

body, input, textarea {
    font-family: 'Bai Jamjuree', sans-serif;
}

body > header {
    background-color: rgb(247, 175, 93);
    padding: 16px 0px;
    color: white;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 16px;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container {
    width: 1360px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

    .articles img {
        margin: 50px 50px 0px 50px;
    }

.articles article {
    width: 30%;
}

.articles article a {
    background-color: rgb(247, 175, 93);
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

section h3 {
    margin-bottom: 16px;
}

.store {
    margin-right: 32px;
    height: 400px;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: rgb(247, 175, 93);
    border: none;
    cursor: pointer;
}

.social img {
    height: 24px;
}

.social li {
    display: inline;
    margin-right: 8px;
}

.social li a {
    text-decoration: none;
}

.maps {
    display: flex;
    align-items: center;
}

.maps img {
    margin-right: 16px;
    height: 50px;
}

